@font-face {
  font-family: "gothamMed";
  src: url(./fonts/Gotham\ Medium.otf);
}

@font-face {
  font-family: "gothamLight";
  src: url(./fonts/Gotham-Light.otf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "gothamMed", sans-serif;
  color: #393c41;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-5px);
  }
  60% {
    transform: translateY(-5px);
  }
}
